{% extends 'polls/base.html' %}

{% block content %}

{% if user.is_authenticated %}

{% if prova.questao_set.all and user  %}
  <h1 class="display-3 text-center text-primary">{{prova.tipoProva}} {{prova.anoProva}}</h1>
  <div align="center"><img src="/static/img/{{prova}}.png"></div>
   <ul id="questoes">
     {% for questao in prova.questao_set.all %}
       <hr id="linha" />
        {% if questao.statusQuestao == 1 %}
          <h3 style="text-align: center;text-transform: uppercase;color: #00008B;;">Questão {{questao.idQuestao}}</h3><h4>{% for c in questao.idCategoria.all %}<span class="label label-success"><a href="/categorias/{{c.idCategoria}}" style="color:#FFFFFF">{{c}} </a></span>{% endfor %}</h4>
          {% if questao.textoQuestao is not None %}
            <p>{{questao.textoQuestao}}</p>
          {% endif %}
          {% if questao.imagemQuestao %}
             <div class="col-xs-15" align="center">
                <img class="img-responsive" id="myImg1" src="/{{questao.imagemQuestao}}" style="width:100%;max-width:300px">
                <br>
            </div>
          {% endif %}
          {% if questao.imagem2Questao %}
            <div class="col-xs-15" align="center">
                <img class="img-responsive" id="myImg2" src="/{{questao.imagem2Questao}}" style="width:100%;max-width:300px">
                <br>
            </div>
          {% endif %}
          {% if questao.perguntaQuestao %}
            <p>{{questao.perguntaQuestao}}</p>
          {% endif %}
          {% if questao.aOpcao %}
             A) {{questao.aOpcao}}<br>
              {% endif %}
              {% if questao.bOpcao %}
             B) {{questao.bOpcao}}<br>
              {% endif %}
              {% if questao.cOpcao %}
             C) {{questao.cOpcao}}<br>
              {% endif %}
              {% if questao.dOpcao %}
             D) {{questao.dOpcao}}<br>
              {% endif %}
              {% if questao.eOpcao %}
             E) {{questao.eOpcao}}<br>
              {% endif %}
            <a class="btn-block btn btn-primary btn-md" href="/{{questao.idProva}}/{{questao.idQuestao}}" role="button">Visualizar questão</a>
      {% else %}
        <div class="alert alert-danger text-center" role="alert"><strong>Questão {{questao.idQuestao}} indisponível.</strong></div>
        <a class="btn-block btn btn-primary btn-md" href="/{{questao.idProva}}/{{questao.idQuestao}}" role="button">Analisar aprovação</a>
      {% endif %}
    {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-danger text-center" role="alert"><strong>Não há questões nesta prova.</strong></div>
        {% endif %}
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>{% else %}
  <h1 class="alert alert-danger text-center" role="alert">Não há questões para serem exibidas.</h1>
{% endif %}

{% else %}
  <h1 class="alert alert-danger text-center" role="alert">Se autentifique para poder acessar a questão.</h1>
{% endif %}
{% endblock %}