{% extends 'polls/base.html' %}
{% block title %}{% endblock %}

{% block content %}
  <p>Selecione o item desejado</p>



  {% if lista_de_provas %}
    <form method='post' action=''>
    {% csrf_token %}
    <h2>Provas</h2>
    <select class="form-control"  name="prova_selecionada" id="prova_selecionada">
      {% for prova in lista_de_provas %}
        {% if prova.questao_set.all %}
          <option id="{{prova.idProva}}" name="listaProvas" value='{{prova.idProva}}' desabled>{{prova.tipoProva}} {{prova.anoProva}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input id="selProva" type="button" value="Confirma" onclick = "location.href ='{{prova.idProva}}';" /><script type="text/javascript">$("#selProva").on('click',function(){location.href=$("#prova_selecionada").val();})</script>
    </form>
  {% endif %}



































  {% if lista_de_provas %}
    <form method='post' action=''>
    {% csrf_token %}
    <h2>Questões</h2>
    <select class="form-control"  name="prova_selecionada" id="questao_selecionada">
      {% for prova in lista_de_provas %}
        {% for questao in prova.questao_set.all %}
          <option id="{{questao.idQuestao}}" name="listaQuestoes" value='{{questao.idQuestao}}' desabled>{{questao.idQuestao}}</option>
        {% endfor %}
      {% endfor %}
    </select>
    <input id="selQuestao" type="button" value="Confirma" onclick = "location.href ='{{prova.idProva}}/{{questao.idQuestao}}';"/><script type="text/javascript">$("#selQuestao").on('click',function(){location.href=$("#questao_selecionada").val();})</script>
    </form> 
  {% endif %}





  {% if lista_de_provas %}
    <form method='post' action=''>
    {% csrf_token %}
    <h2>Provas</h2>
    <select class="form-control"  name="prova_selecionada" id="prova_selecionada">
      {% for prova in lista_de_provas %}
        {% if prova.questao_set.all %}
          <option id="{{prova.idProva}}" name="listaProvas" value='{{prova.idProva}}' desabled>{{prova.tipoProva}} {{prova.anoProva}}</option>Mdjss.199
        {% endif %}
      {% endfor %}
    </select>
    <input id="selProva" type="button" value="Confirma" onclick = "location.href ='{{prova.idProva}}';" />
    </form> 
  {% endif %}
{% endblock %}