{% block content %}
        <h1>Lista de Usuario</h1>
                <table>
                <tr>
                        <th>Matrícula do Usuário</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                </tr>
                {% for usuario in lista_de_usuarios %}
                        {% if usuario.tipoUsuario == '1' %}
                                <tr>
                                        <td>Aluno</td>
                                        <td>{{ usuario.matriculaUsuario }}</td>
                                        <td>{{ usuario.nomeUsuario }}</td>
                                        <td>{{ usuario.emailUsuario }}</td>
                                </tr>
                        {% endif %}
                        {% elseif usuario.tipoUsuario == '2' %}
                                <tr>
                                        <td>Alunos</td>
                                        <td>{{ usuario.matriculaUsuario }}</td>
                                        <td>{{ usuario.nomeUsuario }}</td>
                                        <td>{{ usuario.emailUsuario }}</td>
                                </tr>
                        {% endif %}
                {% else %}
                        <li>Não há usuários cadastrados</li>
                {% endfor %}
                </table>
{% endblock content %}