{% extends 'base.html' %}

{% block content %}
<form method="GET" action="{% url 'polls:search' %}">
        <input name="q" value="{{request.GET.q}}" placeholder="Search...">
        <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                    Search
                </button>
        </span>
</form>
{% for questao in prova.questa_set.all %}

        <h1><a href="{% url 'blog:blog_detail' slug=obj.slug %}">{{questao.idQuestao}}</a></h1>
        
        <p><a href="{% url 'blog:category_detail' slug=obj.category.slug %}">{{categoria.nomeCategoria}}</a></p>

{% endfor %}

{% include 'pagination.html' %}

{% endblock %}