{% extends 'polls/base.html' %}
{% load widget_tweaks %}
{% block title %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}


     <div class="row">
    <h1 class="display-3 text-center text-primary">EDUQUIZ</h1>
    <br><br><br>
    {% if user.usuario.tipoUsuario == 1 %}

      <style> 
          img { 
          max-width: 100%; 
          max-height: 50%; 
          padding-top:10px; 
          } 
          h1 { 
          color: green; 
          } 
      </style> 
    <div class="card-group"> 
      <div class="row"> 
            <div align="center" class="card col-md-4"><a href="/pesquisa">
              <div class="card-body"> 
                <h3 class="card-title text-primary">Questões</h3> 
              </div>
              <img class="card-img-top" src= "/static/img/search.png">    
            </div></a>
            <div align="center" class="card col-md-4"><a href="/desempenho">
              <div class="card-body"> 
                <h3 class="card-title text-primary">Desempenho</h3> 
              </div>
              <img class="card-img-top" src= "/static/img/desempenho.jpg"> 
            </div></a> 
            <div align="center" class="card col-md-4"><a href="/quiz/selecionar">
              <div class="card-body"> 
                <h3 class="card-title text-primary">Quiz</h3> 
              </div>
              <img class="card-img-top" src= "/static/img/simulado.png"> 
            </div></a>
        </div> 
    </div> 

    {% else %}
       <div class="card-group"> 
      <div class="row"> 
            <div align="center" class="card col-md-4"><a href="/pesquisa">
              <div class="card-body"> 
                <h3 class="card-title text-primary">Questões</h3> 
              </div>
              <img class="card-img-top" src= "/static/img/search.png">    
            </div></a>
            <div align="center" class="card col-md-4"><a href="/questoes/lista_aprovacao">
              <div class="card-body"> 
                <h3 class="card-title text-primary">Aprovar questão</h3> 
              </div>
              <img class="card-img-top" src= "/static/img/check.png"> 
            </div></a> 
            <div align="center" class="card col-md-4"><a href="/desempenho_alunos">
              <div class="card-body"> 
                <h3 class="card-title text-primary">Desempenho dos alunos</h3> 
              </div>
              <img class="card-img-top" src= "/static/img/desempenho.jpg"> 
            </div></a>
        </div> 
    </div>
    {% endif %}


</div>
{% else %}
{% if form.errors %}

<div class="alert alert-danger text-center" role="alert"><strong>Seu endereço de e-mail, nome de usuário e/ou senha estão incorretos. Tente novamente</strong></div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<div class="alert alert-danger text-center" role="alert"><strong>Sua conta não tem acesso à essa página. Para prosseguir, por favor acesse com a sua matrícula</strong></div>
    {% else %}

<div class="alert alert-danger text-center" role="alert"><strong>Por favor, acesse este site para visualizar esta página</strong></div>
    {% endif %}
{% endif %}
  <div id="login-overlay" class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center modal-title" id="myModalLabel">Sistema de provas do IME/UERJ</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
           <form id="login-form" class="form-horizontal" role="form" action="{% url 'login' %}" method="post">{% csrf_token %}
          <div class="field-wrapper">
            <div class="label-wrapper">
              <label for="username" class="control-label">Nome de usuário/E-mail</label>
              <input type="text" class="form-control" id="username" name="username" value="" required="" title="Por favor, insira seu nome de usuário ou e-mail" placeholder="Nome de usuário/E-mail" value="{{ matriculaUsuario }}">
              <span class="help-block"></span>
            </div>
          </div>
          <div class="field-wrapper">
            <div class="label-wrapper">
               <label for="password" class="control-label">Senha</label>
               <input type="password" class="form-control" id="password" name="password" value="{{ senhaUsuario }}" required="" title="Please enter your password">
                 <span class="help-block"></span>
            </div>
          </div>
            <div id="loginErrorMsg" class="alert alert-error hide">Usuário e/ou senha inválido(s)</div>
            <br>
        <div class="col-xs-6">
           <input type="hidden" name="next" value="{{ next }}" />
           <input class="btn btn-primary btn-block" type="submit" value="Login"/>
         </div>
         <div class="col-xs-6">
           <a href="/registrar/" class="btn btn-primary btn-block">Criar cadastro</a>
         </div>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
