{% extends "polls/base.html" %}


{% block content %}
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="Foto de perfil" src="/{{user.usuario.avatar}}" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nome completo</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                      </tr>
                      <tr>
                        <td>E-mail</td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                      </tr>
                     <tr>
                        <td>Matrícula</td>
                        <td>{{ user.usuario.matricula }}</td>
                      </tr>
                      <tr>
                        <td>Tipo de usuário</td>
                        <td>{% if user.usuario.tipoUsuario == 1 %}Aluno{% else %}Professor{% endif %}</td>
                      </tr>
                      {% if user.usuario.tipoUsuario == 2 and user.usuario.idCategoria %}
                      <tr>
                        <td>Disciplina{% if request.user.usuario.idCategoria.all|length > 1 %}s{% endif %}</td>
                        <td>{% for c in user.usuario.idCategoria.all %}{{c}}{% if forloop.revcounter == 2 %} e {% elif not forloop.last %}, {% endif %}{% endfor %}</td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                  <a href="/perfil/editarperfil" class="btn btn-primary">Editar perfil</a>
                  <a href="/alterarsenha" class="btn btn-primary">Alterar senha</a>
                </div>
              </div>
            </div>
          </div>
        </div>

<style type="text/css">
    	.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.panel-title{
  text-align: center;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

</style>


{% endblock %}