{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Context-Type" context="text/html" charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<form name="formlogin" method="post" action="/cadastro/login/">
		<label>Matrícula: <input type="text" name="matricula" id="matricula"></label>
		<br>
		<label>Senha: <input type="text" name="matricula" id="matricula"></label>
		<br>
		<label>
			<input type="submit" name="buttonlogin" id="buttonlogin" value="Enviar">
		</label>
	</form>
</body>
</html>